body{ color : #006666 ;background : linear-gradient(141deg,  #ffffff 0%,  #f0f0f5 51%,  #d1d1e0 95%)  repeat-y !important; }

.city{font-weight: bold !important ;font-size: 20px !important;}

h1,span{}
h1.title{ margin-top: 10%;margin-bottom: 5%; }
